
<head>
  <meta charset="utf-8"/>
  <title>MY APP!!!!!!</title>
   <style>
     body {
       background-image: url("https://www.oneidalakechamber.com/wp-content/uploads/2018/04/fireworks-on-the-river.jpg");
     }
   </style>

</head>

<body>

  <div>
    <br/><br/><br/><br/><br/><br/><br/><br/>
    <h3 style="font-size:600%; text-align:center; color: white;">Happy Birthday <%= $name %>!</h3>
  </div>

</body>
