
<head>
  <meta charset="utf-8"/>
  <title>MY APP!!!!!!</title>

   <style>
     body {
       background-color: #1ac6ff;
     }
   </style>
</head>

<body>
  <h1 style="font-size:500%; text-align:center;">Hello there!</h1>


<h3 style="font-size:200%; text-align:center;">What's your name?</h3>

<form action="/details" method="post">
<div style ="text-align:center">

  <input style="width: 40%;" type="text" name="user_name">
  </div>
</body>

<h3 style="font-size:200%; text-align:center;">When's is your next Birthday?</h3>
<h5 style="font-size:200%; text-align:center;">If it's today I have a suprise for you!!</h5>

<div style ="text-align:center">
   Day: <input style="width: 3%;" type="text" name="birth_day"> month/year: <input style="width: 12%;" type="month" name="birth_month_year" min="2018-11" max="2019-11">
</div>
</br></br>
<div style ="text-align:center;">

  <input style="width: 25%;" type="submit" value="Go">
</div>
</form>
